<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ProgramKadrowy_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="ApplicationDBContext" connectionString="Server=.\SIGMANEST;Database=ProgramKadrowyDB;User Id=DOTNET;Password=DOTNET;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <ProgramKadrowy_WPF.Properties.Settings>
      <setting name="ServerName" serializeAs="String">
        <value>(local)</value>
      </setting>
      <setting name="ServerInstance" serializeAs="String">
        <value>SIGMANEST</value>
      </setting>
      <setting name="SQLDatabaseName" serializeAs="String">
        <value>ProgramKadrowyDB</value>
      </setting>
      <setting name="ServerUserName" serializeAs="String">
        <value>DOTNET</value>
      </setting>
      <setting name="ServerUserPassword" serializeAs="String">
        <value>DOTNET</value>
      </setting>
      <setting name="AppUserName" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="AppPassword" serializeAs="String">
        <value>password</value>
      </setting>
    </ProgramKadrowy_WPF.Properties.Settings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>